{% extends 'core.html' %}

{% block content %}

<div class="container">
    <div class="row " style="padding-top:40px;">
      <h3 class="text-center">Realtime Chat</h3>
      <br/><br/>

      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-list"></span>History</strong>
          </div>
          <div class="panel-body fixed-panel">
            <ul id="media-list">
                <!-- Messages will be here -->
            </ul>
          </div>
          <div class="panel-footer">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter Message" id="messageText" autofocus/>
              <span class="input-group-btn">
                <button class="btn btn-info" type="button" id="send" onclick="sendMsg()">SEND <span class="glyphicon glyphicon-send"></span></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ app.router.static.url_for(filename = 'js/main.js') }}"></script>
{% endblock %}