{% extends 'core.html' %}

{% block content %}

    <div id="root" class="container">
        <header class="header">
            <div id="left-header" class="form-inline">
                <input id="friendName" class="form-control" type="search" placeholder="Search...">
                <button type="button" id="addFriend"class="btn btn-primary">Add friend</button>
            </div>
            <div id="mid-header">
                <h3>Aiochat</h3>
            </div>
            <div id="right-header">
            <h4>{{name}}<a href="/logout" id='logoutbtn'><button class="btn btn-secondary mb-2">Logout</button></a></h4>
            </div>
        </header>
        <main class="main">
            <div class="msglist" id="media-list"></div>
            <div class="msgfield">
                <input type="text" id="textField" placeholder="Write a message...">
                <button id="btn" class="btn btn-success">Send</button>
            </div>
        </main>
        <aside class="left">
            <ul id="friends-list" class="list-group">
                {% for friend in friends %}
                    <li class="list-group-item"><a href="/chat/{{friend.id}}">{{friend.name}}</a></li>
                {% endfor %}
            </ul>
        </aside>
        <!-- <aside class="right"></aside> -->
        <!-- <footer class="footer"></footer> -->
    </div>
    <script src="{{ app.router.static.url_for(filename = 'js/main.js') }}"></script>
{% endblock %}